<div class="center">
    <ngx-file-drop 
    dropZoneClassName="uploadDropZone"
    (onFileDrop)="dropped($event)"
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <div>
            Upload hier...oder
          </div>
            <button class="btn-def btn-def-small" (click)="openFileSelector()">
                <i class="fa-solid fa-magnifying-glass"></i>
                Auswählen
            </button>
        </ng-template>
    </ngx-file-drop>
    <!--div class="flex flex-column">
        <div class="grid">
            <div class="col">Name</div>
            <div class="col">Grösse</div>
            <div class="col">Index</div>
        </div>   
            <div *ngFor="let item of fileList; let i=index">     
                <div class="grid">
                    <div class="col">{{item.name}}</div>
                    <div class="col">{{item.size / 1000}}KB</div>
                    <div class="col">{{i}}</div>
                </div>   
        </div>
    </div-->
</div>
