<div class="container">
    <div class="auth-box">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
        <p-card class="shadow-8 m-3">
            <ng-template pTemplate="header">
                <div class="flex justify-content-center flex-wrap">
                    <div class="flex align-items-center justify-content-center mt-4 w-4rem h-4rem text-6xl"><i class="fa-solid fa-user-lock"></i></div>
                </div>
            </ng-template>
            <ng-template pTemplate="body">
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="fa-solid fa-at"></i></span>
                        <input type="text" formControlName="email" pInputText placeholder="E-Mail">         
                    </div>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="fa-solid fa-key"></i></span>
                        <input type="password" formControlName="password" pInputText placeholder="Username">    
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <div>
                    <p-button type="submit" label = "Login" icon="fa-solid fa-right-to-bracket" [style]="{ 'width': '100%' }"></p-button>
                    <!--p-divider align="center">OR</p-divider>
                    <p-button type="submit" label="Login with Google" icon="fa-brands fa-google" [style]="{ 'width': '100%' }"></p-button-->
                </div>
                    <p-divider align="center">OR</p-divider>
                <div>
                    <p-button type="button" (click)="toRegister()" label = "Neuen Account anlegen" icon="fa-solid fa-user-plus" [style]="{ 'width': '100%' }"></p-button>
                </div>
            </ng-template>
        </p-card>
    </form>
    </div>
</div>
