:host ::ng-deep .p-card {
margin-bottom: 1.5rem !important;
}

:host ::ng-deep .p-card-body {
    padding: 0% !important;
}

:host ::ng-deep .p-card-content {
    padding: 0% !important;
}

:host ::ng-deep.p-dropdown {
    height: 49px !important;
    border: none;
}

::ng-deep.p-dropdown .p-dropdown-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2rem !important;
}