<div class="container">
    <div class="headers">
        <div>
            Hallo {{myUserData.name}}, bewerte jetzt deine Woche
        </div>
        <div class="flex ml-5">
            <p-dropdown class="h-full justify-content-center" [options]="weeks" [(ngModel)]="selectedWeek" (onChange)="changeWeek($event)"></p-dropdown>
        </div>
    </div>
    <div class="h-screen px-4 py-5 md:px-6 lg:px-8">
        <div *ngIf="itemList; else loading">    
            <div *ngFor="let item of itemList">
                <p-card class="block">
                        <app-voting-detail [inputItem]="item" (result)="getVotingResult($event)"></app-voting-detail>
                </p-card>
            </div>
            <div>
                <textarea rows="4" [style]="{'width':'100%'}" pInputTextarea [(ngModel)]="comment" placeholder="Hier kannst du ein Kommentar erfassen"></textarea> 
            </div>
            <div>
                <button (click)="submitVoting()" pButton pRipple label="Abschließen" class="p-button-success" icon="pi pi-check"></button>
            </div>
        </div>
        <ng-template #loading>
            <div class="flex justify-content-center">
                <p-progressSpinner></p-progressSpinner>  
            </div>
        </ng-template>
    </div>
</div>
<p-toast></p-toast>
