<div class="container">
    <div class="headers">
        Team Übersicht
    </div>
    <div class="bodies">
        <div class="flex flex-wrap w-full h-30rem">
            <div class="col">
                <div>
                    <app-team-voting-chart></app-team-voting-chart>
                </div>
                <!--app-team-voting-chart></app-team-voting-chart-->
                <!--app-team-voting-list></app-team-voting-list-->
            </div>
        </div>
    </div>
    <div class="h-screen px-4 py-5 md:px-6 lg:px-8">
        
        
    <div>
</div>
