<div class="container h-screen w-auto bg-primary m-0">
    <p-card class="block ml-3 mr-3 mt-3">
        <form [formGroup]="questionForm">
                <div class="field grid col-10">
                    <label class="col-12 mb-2 md:col-2 md:mb-0" for="id">ID</label>
                    <div class="col-12 md:col-10">
                        <input type="text" pInputText formControlName="id" pInputText class="w-full text-base surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                    </div>
                </div>

                <div class="field grid col-10">
                    <label class="col-12 mb-2 md:col-2 md:mb-0" for="active">Aktiv</label>
                    <div class="col-12 md:col-10">
                        <p-checkbox formControlName="activeFlag" [binary]="true" inputId="active"></p-checkbox>
                    </div>
                </div>
                <div class="field grid col-10">
                    <label class="col-12 mb-2 md:col-2 md:mb-0" for="question">Votingfragen</label>
                    <div class="col-12 md:col-10">
                        <input type="text" pInputText formControlName="question" pInputText class="w-full text-base surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                    </div>
                </div>
            <button (click)="saveQuestion()" pButton pRipple label="Speichern" class="p-button-success mt-3" icon="pi pi-check" [disabled]="!questionForm.valid"></button>
        </form> 
    </p-card>
    <app-question-list></app-question-list>
</div>
<p-toast></p-toast>