<div class="container">
    <div class="card">
        <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="fa-solid fa-circle-question mr-3"></i>
                    <span>Fragen</span>
                </ng-template>
                <app-question></app-question>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-user mr-3"></i>
                    <span>Users</span>
                </ng-template>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                </p>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="fa-solid fa-people-group mr-3"></i>
                    <span>Abteilungen</span>
                </ng-template>
                <app-department></app-department>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="fa-solid fa-briefcase mr-3"></i>
                    <span>Zweck</span>
                </ng-template>
                <app-reason></app-reason>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="fa-solid fa-comments-dollar mr-3"></i>
                    <span>Ausgabentyp</span>
                </ng-template>
                <app-spendtyp></app-spendtyp>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="fa-solid fa-building mr-3"></i>
                    <span>Kunden</span>
                </ng-template>
                <app-customer></app-customer>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="fa-solid fa-earth-europe mr-3"></i>
                    <span>Länder</span>
                </ng-template>
                <app-country></app-country>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="fa-solid fa-cog mr-3"></i>
                    <span>Test</span>
                </ng-template>
                <app-test></app-test>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
