::ng-deep .p-dropdown {
    font-family: 'Rajdhani', sans-serif !important;
}

::ng-deep .p-dropdown-label {
    font-family: 'Rajdhani', sans-serif !important;
}

::ng-deep .p-inputtext {
    display: flex;
    font-family: 'Rajdhani', sans-serif !important;
    align-items: center;
}