<div *ngIf="data">
  <p-table 
    #votingList 
    [value]="data" 
    [style]="{'font-family': 'Rajdhani','color':'var(--surface-900)'}"
    [paginator]="true" 
    [rows]="5" 
    [loading]="isLoading" 
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} bis {last} von {totalRecords} Reisen" 
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['customer.name','start','end','reason']" 
    [(selection)]="selectedTravels"
    dataKey="id" 
    styleClass="p-datatable-striped">
    <ng-template pTemplate="caption">
      <!--div class="flex align-items-center justify-content-center text-xl text-900 border-none headerTableStyle">
        Reisen
      </div-->
      <div class="flex justify-content-between">
        <button pButton label="Clear" class="cic-btn-white p-button-outlined" icon="pi pi-filter-slash" (click)="clear(votingList)"></button>
        <!--span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="votingList.filterGlobal($event, 'contains')" placeholder="Search keyword" />
              </span-->
        <span>{{selectedTravels.length}} Reise(n) ausgewählt</span>
        <div class="flex">
          <button pButton class="btn-cic-submit" [ngStyle]="{'width' : '100%'}" label="Einreichen" icon="fa-regular fa-paper-plane" (click)="submitTravels()" [disabled]="selectedTravels.length == 0"></button>
          <button pButton class="btn-cic-submit" [ngStyle]="{'width' : '100%'}" label="Abgerechnet" icon="fa-solid fa-money-bill-wave" (click)="paidTravels()" [disabled]="selectedTravels.length == 0"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
        </th>
        <th>
          <!--Icons-->
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Kunde
            <p-columnFilter type="text" field="customer" display="menu" [matchModeOptions]="matchModeOptionsCustomer" [matchMode]="'custom-equals'"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Start
            <p-columnFilter type="text" field="start" display="menu" [matchModeOptions]="matchModeOptionsCustomer" [matchMode]="'date-equals'"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            End
            <p-columnFilter type="date" field="country.name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Grund
            <p-columnFilter type="text" field="reason" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Status
            <p-columnFilter field="state" matchMode="in" display="menu" [showMatchModes]="false"
            [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="travelState" placeholder="Auswahl"
                (onChange)="filter($event.value)" optionLabel="state">
                <ng-template let-option pTemplate="item">
                  <div class="inline-block justify-content-between">
                    <i [ngClass]="option.icon"></i>
                    <span class="p-ml-1">{{option.state}}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-travel>
      <tr>
        <td>
          <p-tableCheckbox [value]="travel" [disabled]="travel.state !== 'submitted' ? false : true"></p-tableCheckbox>
        </td>
        <td>
          <img class="w-2rem" [src]="utiliesService.findIcon(travel.customer.name)"
            alt="../../../../assets/images/unternehmen.png">
        </td>
        <td>{{ travel.customer.name }}</td>
        <td>{{ travel.date[0]["seconds"] * 1000 | date: 'dd.MM.yyyy HH:mm'}}</td>
        <td>{{ travel.date[1]["seconds"] * 1000 | date: 'dd.MM.yyyy HH:mm'}}</td>
        <td>{{ travel.reason?.name }}</td>
        <td>
          <div class="flex" [ngSwitch]="travel.state">
            <i *ngSwitchCase="'submitted'" class="fa-regular fa-paper-plane"></i>
            <i *ngSwitchCase="'saved'" class="fa-solid fa-floppy-disk"></i>
            <i *ngSwitchCase="'paid'" class="fa-solid fa-money-bill-wave"></i>
          </div>
        </td>
        <td>
          <div>
            <button (click)="selectTravel(travel)" pButton pRipple icon="fa-regular fa-pen-to-square" class="p-button-text"
            ></button>
            <p-button 
              [disabled]="travel.state == 'saved' ? false : true" 
              class="delete" 
              icon="pi pi-times" (click)="deleteTravel(travel)"
              [rounded]="true" 
              [text]="true" 
              severity="danger ">
            </p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <!--ng-template pTemplate="summary"> Footer </ng-template-->
  </p-table>
</div>
<p-toast></p-toast>