<p-table 
  #votingList 
  [value]="data" 
  [style]="{'font-family': 'Rajdhani','color':'var(--surface-900)'}"
  [paginator]="true" 
  [rows]="5" 
  [loading]="isLoading" 
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first} bis {last} von {totalRecords} Zeiten" 
  [rowsPerPageOptions]="[5, 10, 20]"
  [globalFilterFields]="['customer.name','start','end','reason']" 
  dataKey="id" 
  styleClass="p-datatable-striped">
  <ng-template pTemplate="caption">
    <!--div class="flex align-items-center justify-content-center text-xl text-900 border-none headerTableStyle">
      Reisen
    </div-->
    <div class="flex justify-content-between">
      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(votingList)"></button>
			<span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="votingList.filterGlobal($event, 'contains')" placeholder="Search keyword" />
            </span>
		</div>
  </ng-template>
  <ng-template pTemplate="header">
		<tr>
      <th>
        <!--Icons-->
      </th>
      <th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Kunde
          <p-columnFilter type="text" field="customer" display="menu" [matchModeOptions]="matchModeOptionsCustomer" [matchMode]="'custom-equals'"></p-columnFilter>
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Start
					<p-columnFilter type="text" field="start" display="menu" [matchModeOptions]="matchModeOptionsCustomer" [matchMode]="'date-equals'"></p-columnFilter>
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					End
					<p-columnFilter type="date" field="country.name" display="menu"></p-columnFilter>
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Grund
					<p-columnFilter type="text" field="reason" display="menu"></p-columnFilter>
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Status
          <p-columnFilter field="state" matchMode="in" display="menu" [showMatchModes]="false"
          [showOperator]="false" [showAddButton]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect [ngModel]="value" [options]="travelState" placeholder="Auswahl"
              (onChange)="filter($event.value)" optionLabel="state">
              <ng-template let-option pTemplate="item">
                <div class="inline-block justify-content-between">
                  <i [ngClass]="option.icon"></i>
                  <span class="p-ml-1">{{option.state}}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
				</div>
			</th>
      <th>
				<div class="p-d-flex p-jc-between p-ai-center">
				</div>
			</th>
		</tr>
	</ng-template>
  <!--ng-template pTemplate="header">
    <tr>
      <th class="dateFilterStyle" style="width: 5%"></th>
      <th class="dateFilterStyle" style="width: 15%" pSortableColumn="start" display="menu">Start<p-sortIcon
          field="start"></p-sortIcon></th>
      <th class="dateFilterStyle" style="width: 15%" pSortableColumn="end" display="menu">Ende <p-sortIcon field="end"></p-sortIcon>
      </th>
      <th class="dateFilterStyle" style="width: 15%" pSortableColumn="customer" display="menu">Kunde<p-sortIcon
          field="customer"></p-sortIcon></th>
      <th class="dateFilterStyle" style="width: 15%" pSortableColumn="reason" display="menu">Grund <p-sortIcon
          field="reason"></p-sortIcon></th>
      <th class="dateFilterStyle" style="width: 10%" pSortableColumn="state" display="menu">Status <p-sortIcon
          field="state"></p-sortIcon></th>
    </tr-->
    <!--tr>
      <th class="dateFilterStyle"></th>
      <th class="dateFilterStyle">
        <p-columnFilter type="date" field="start" class="tableFilter"></p-columnFilter>
      </th>
      <th class="dateFilterStyle">
        <p-columnFilter type="text" field="end" class="tableFilter"></p-columnFilter>
      </th>
      <th class="dateFilterStyle">
        <p-columnFilter type="text" field="customer" class="tableFilter" [matchMode]="'custom-equals'"></p-columnFilter>
      </th>
      <th class="dateFilterStyle">
        <p-columnFilter type="text" field="reason" class="tableFilter"></p-columnFilter>
      </th>
      <th class="dateFilterStyle">
        <p-columnFilter field="state" class="tableFilter" display="menu" [showMatchModes]="false" [showOperator]="false"
          [showAddButton]="false">>

          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect [ngModel]="value" [options]="travelState" placeholder="Any" (onChange)="filter($event.value)"
              optionLabel="state">
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <i [ngClass]="option.icon"></i>
                  <span class="ml-1">{{option.name}}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
      </th>
    </tr>
  </ng-template-->
  <ng-template pTemplate="body" let-travel>
    <tr>
      <td>
        <img class="w-2rem" [src]="utiliesService.findIcon(travel.customer.name)"
          alt="../../../../assets/images/unternehmen.png">
      </td>
      <td>{{ travel.customer.name }}</td>
      <td>{{ travel.date[0]["seconds"] * 1000 | date: 'dd.MM.yyyy HH:mm'}}</td>
      <td>{{ travel.date[1]["seconds"] * 1000 | date: 'dd.MM.yyyy HH:mm'}}</td>
      <td>{{ travel.reason }}</td>
      <td>
        <div class="flex" [ngSwitch]="travel.state">
          <i *ngSwitchCase="'submitted'" class="fa-regular fa-paper-plane"></i>
          <i *ngSwitchCase="'save'" class="fa-solid fa-floppy-disk"></i>
          <i *ngSwitchCase="'paid'" class="fa-solid fa-money-bill-wave"></i>
        </div>
      </td>
      <td>
        <button (click)="editTravel(travel)" pButton pRipple icon="fa-regular fa-pen-to-square" class="p-button-text"
        ></button>
      </td>
    </tr>
  </ng-template>
  <!--ng-template pTemplate="summary"> Footer </ng-template-->
</p-table>