<div *ngIf="days">
    <p-table  [value]="days">
        <ng-template pTemplate="header">
            <tr>
                <th>Datum</th>
                <th>Pauschale</th>
                <th>Frühstück</th>
                <th>Mittag</th>
                <th>Abendessen</th>
                <th>Summe</th>
                <th>Index</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-day let-index="rowIndex">
            <tr>
                <td>{{day.date | date: 'dd.MM.yyyy'}}</td>
                <td>{{day.amount}}</td>
                <td>
                    <p-checkbox [binary]="true" [(ngModel)]="day.breakfast" (onChange)="changeRate(index)"></p-checkbox>
                </td>
                <td>
                    <p-checkbox [binary]="true" [(ngModel)]="day.launch" (onChange)="changeRate(index)"></p-checkbox>
                </td>
                <td>
                    <p-checkbox [binary]="true" [(ngModel)]="day.dinner" (onChange)="changeRate(index)"></p-checkbox>
                </td>
                <td>{{day.totalAmount}}</td>
                <td>{{index}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
