:host ::ng-deep .p-paginator {
    font-family: 'Rajdhani', sans-serif;
    button {
        font-family: 'Rajdhani', sans-serif;
    }
    .p-element {
        font-family: 'Rajdhani', sans-serif;
    }
    .p-paginator-pages {
        font-family: 'Rajdhani', sans-serif;
    }
}