:host ::ng-deep .p-paginator {
    font-family: 'Rajdhani', sans-serif;
    button {
        font-family: 'Rajdhani', sans-serif;
        color: var(--surface-900);
    }
    .p-element {
        font-family: 'Rajdhani', sans-serif;
        color: var(--surface-900);
    }
    .p-paginator-pages {
        font-family: 'Rajdhani', sans-serif;
        color: var(--surface-900);
    }
}

:host ::ng-deep .p-datatable {
    color: var(--surface-900);
}


:host ::ng-deep .p-datatable-header {
    div {

        color: var(--surface-900) !important;

    }
}
