<div class="container" *ngIf="myUser?.verifyAdmin; else verfifyAdmin">
    <div class="headers">
        Dashboard
    </div>
    <div class="bodies" *ngIf="items; else loading">
        <div class="px-4 py-5 md:px-6 lg:px-8">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-3" *ngFor="let item of items">
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block font-medium mb-3" [style]="{'color':'var(--cic-red)'}">{{item.header}}</span>
                                <div class="text-900 font-medium text-xl">{{item.body}}</div>
                            </div>
                            <div class="flex justify-content-center border-round" [ngStyle]="{'width':'2.5rem','height':'2.5rem', 'color':'var(--cic-dark-blue)'}">
                                <i class="{{item.icon}}"></i>
                            </div>
                        </div>
                        <div>
                            <div class="flex justify-content-between mb-3 align-items-center h-2rem">
                                <div class="flex">
                                    <span class="text-500 mr-1">{{item.footer}} </span>
                                    <span *ngIf="item.header !== 'Arbeitszeit'" class="font-medium"> {{item.subFooter}}</span>
                                    <span *ngIf="item.header == 'Arbeitszeit'" class="font-medium"> {{stopwatch.hours}} h {{stopwatch.minutes}} m</span>
                                </div>
                                <span *ngIf="item.header == 'Arbeitszeit'" class="font-medium">
                                    <div *ngIf="!startStopBtn" class="cic-btn-small" (click)="startStop()">
                                        <i class="fa-solid fa-circle-play"></i>
                                        <span>Start</span>
                                    </div>
                                    <div *ngIf="startStopBtn" class="cic-btn-small" (click)="startStop()">
                                        <i class="fa-solid fa-circle-stop"></i>
                                        <span>Stop</span>
                                    </div>
                                    <div *ngIf="startStopBtn" class="cic-btn-small" [ngStyle]="breakBtn ? {'background-color':'var(--cic-red)'}: null" (click)="break()">
                                        <i class="fa-solid fa-circle-pause"></i>
                                        <span>Pause</span>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-6">
                    <div class="surface-card shadow-2 p-3 border-round h-full">
                            <app-home-chart-workweek></app-home-chart-workweek>
                    </div>
                </div>
                <div class="col-6">
                    <div class="surface-card shadow-2 p-3 border-round h-full">
                        <app-home-chart-travel></app-home-chart-travel>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div class="bodies flex justify-content-center mt-10">
            <p-progressSpinner></p-progressSpinner>
        </div>
    </ng-template>
</div>
<ng-template #verfifyAdmin>
    <app-verify-admin-pending></app-verify-admin-pending>
</ng-template>




