<div class="container">
    <div class="headers">
        Dashboard
    </div>
    <div class="bodies" *ngIf="items; else loading">
        <div class="flex flex-wrap w-full h-30rem">
                <div class="col" *ngFor="let item of items">
                    <div class="cards border-1 shadow-2 hover:shadow-8">
                        <div class="flex-row w-full">
                            <div class="col-12">
                                <div class="row">
                                    <div class="flex justify-content-between">
                                        <span class="text-base mb-2">{{item.header}}</span>
                                        <i class="{{item.icon}} text-blue-600"></i>
                                    </div>
                                </div>
                                <div class="text-lg font-bold">{{item.body}}</div>
                            </div>
                            <div class="col">
                                <div class="flex flex-column">
                                    <span class="text-base mb-2">{{item.footer}}</span>
                                    <div class="flex justify-content-between align-content-center text-sm" *ngIf="item.header == 'Arbeitszeit'">
                                        <div>
                                            {{stopwatch.hours}} h {{stopwatch.minutes}} m
                                        </div>
                                        <div>
                                            <p-button class="ml-1" *ngIf="!startStopBtn" label="Start" icon="fa-solid fa-circle-play" size="small" severity="success" (onClick)="startStop()"></p-button>
                                            <p-button class="ml-1" *ngIf="startStopBtn" label="Stop" icon="fa-solid fa-circle-stop" size="small" severity="danger" (onClick)="startStop()"></p-button>
                                            <p-button class="ml-1" *ngIf="!breakBtn && startStopBtn" label="Pause" icon="fa-solid fa-circle-pause" size="small" severity="warning" (onClick)="break()"></p-button>
                                            <p-button class="ml-1" *ngIf="breakBtn" label="Weiter" icon="fa-solid fa-circle-pause" size="small" severity="success" (onClick)="break()"></p-button>
                                        </div>
                                    </div>
                                    <div class="flex justify-content-between align-content-center text-sm" *ngIf="item.subFooter !== 'undefined'">
                                        <div>
                                            {{item.subFooter}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-6">
                <div class="chart-dashboard border-1">Arbeitswoche (draft)
                    <app-home-chart-workweek></app-home-chart-workweek>
                </div>
            </div>
            <div class="col-6">
                <div class="chart-dashboard border-1">Arbeitswoche (draft)
                    <app-home-chart-travel></app-home-chart-travel>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div class="bodies flex justify-content-center mt-10">
            <p-progressSpinner></p-progressSpinner>
        </div>
    </ng-template>
</div>




