.container-template {
    display: block;
    height: 100%;
    background: #053B50; /*176B87 64CCC5 EEEEEE*/
    border-radius: 15px;
    box-shadow: 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 11px 15px rgba(0, 0, 0, 0.2);;
}

.card-actions-template {
    margin: 3rem;
    height: 10rem;
    width: 25rem;
}