/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600&display=swap');

:root {
    --primary: #25374A;
    --text-color: white;
    --box-bg: white;
    --color2: #084167;
    --color3: #083858;
    --color4: #1C415D;
    --color5: #102838;

    //https://colorhunt.co/palette/053b50176b8764ccc5eeeeee


    //blue
    --theme1-bg: #DDE6ED;
    --theme1-light: #9DB2BF;
    --theme1-medium: #526D82;
    --theme1-dark: #27374D;

    //CIC Color
    --cic-dark-blue: #001E2F;
    --cic-main-blue-800: #113146;
    --cic-main-blue-700: #2e5570;
    --cic-main-blue-600: #2e5570;
    --cic-main-blue-500: #3a6380;
    --cic-main-blue-400: #567994;
    --cic-main-blue-300: #3a6380;
    --cic-main-blue-200: #95afc6;
    --cic-main-blue-100: #b9d0e3;
    --cic-main-blue-50: #deecfe;

    --cic-medium-blue: #00507D;
    --cic-light-blue: #006C97;
    --cic-red: #A81430;
    --cic-white: #FFFFFF;
    --cic-light-grey: #9F9F9F;

    /*Font: Rajdhani-SemiBold,sans-serif*/





}

html, body {
    height: 100%;
    margin: 0px;
        /*https://pixabay.com/vectors/blue-background-abstract-structure-1634110/*/
        //background-image: url('/assets/images/bg_1920.png');
        background-color: var(--cic-white);
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Rajdhani', sans-serif;
}

.p-menubar {
    background-color: var(--cic-dark-blue);
    color: var(--cic-white);
    .p-button {
        color: var(--cic-white);
    }
    span {
        
        color: white;
    }
}

.p-menuitem-text {
    font-family: 'Rajdhani', sans-serif;
}

.p-menuitem {
    :hover {
        span {
            color: black;
        }
    }
}

.cic-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    background-color: var(--cic-light-blue);
    vertical-align: middle;
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    i {
        margin-right: 0.25rem;
        font-size: smaller;
    }
}

.cic-btn-small {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    background-color: var(--cic-light-blue);
    vertical-align: middle;
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    color: var(--cic-white);
    margin-right: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    i {
        margin-right: 0.25rem;
        font-size: smaller;
    }
}

.cic-btn-small:hover{
    background-color: var(--cic-medium-blue);
    color: var(--cic-white);
    border-color: var(--cic-medium-blue);
}


.container {
    display: block;
    justify-content: center;
    align-content: center;
    /*Top, Right, Bottom, Left*/
    margin: 5rem 5rem 5rem 5rem;
}

.bodies {
    //display: flex;
    //justify-content: space-between;
    border: solid 0.5px;
    //font-size: xx-large;
    padding: 0.25rem;
    border-color: var(--cic-light-grey);
    color: black;
    border-radius: 10px;
    background-color: var(--cic-white);
    height: 100vh;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12); */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12);
}

.headers {
    display: flex;
    justify-content: center;
    border: solid 0.5px;
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    background-color: var(--cic-white);
    border-color: var(--cic-light-grey);
    margin-bottom: 20px;
    height: 4rem;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12); */
    //box-shadow: 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 11px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.12);
}

.cards {
    display: flex;
    margin: 2rem;
    border: solid 1px;
    border-radius: 10px;
    border-color: var(--cic-light-blue);
    background-color: var(--cic-white);
    padding: 0.5rem;
    //background-image: linear-gradient(to right,#27374D, transparent);
    height: 10rem;
    width: 22rem;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1), 0px 4px 5px -2px rgba(0, 0, 0, 0.12), 0px 10px 15px -5px rgba(0, 0, 0, 0.2);
    i {
        color: var(--cic-dark-blue)
    }

    .cardStyle {
        :hover {
            box-shadow: 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 11px 15px rgba(0, 0, 0, 0.2);
        }
    }
    
}

.chart-dashboard {
    margin: 2rem;
    /* border: solid; */
    border-radius: 10px;
    padding: 0.5rem;
    background: #9DB2BF;
    background-image: linear-gradient(to right,#27374D, transparent);
    color: white;
    height: 30rem;
}

.chart-team-voting {
    margin: 2rem;
    /* border: solid; */
    border-radius: 10px;
    padding: 0.5rem;
    background: #9DB2BF;
    background-image: linear-gradient(to right,#27374D, transparent);
    color: white;
    height: 30rem;
}


.auth-box {
    left: 50%;
    top: 40%;
    position: absolute;
    transform : translate(-50%, -50%);
}

.p-card {
    background-color: var(--box-bg);
}

.p-inputgroup {
    margin-bottom: 1rem;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.voting-detail {
    display: block;
}

.voting-icons {
    display: flex;
    justify-content:space-evenly;
    margin-left: 3rem;
    margin-right: 3rem;
}

.voting-detail-font-size {
    font-size: 1rem;
}

.voting-questions {
    display: flex;
    justify-content:center;
    margin-bottom: 1.5rem;
}

.voting-icon {
    :hover {
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.voting-selected {
    font-weight: bolder;
    font-size: 1.5rem;
}

.voting-default {
    font-weight: lighter;
    color: rgb(128, 124, 124);
}

