::ng-deep .delete button .p-button-icon { 
    color: var(--cic-red); 
}

::ng-deep .add button .p-button-icon { 
    color: red; 
}

::ng-deep .p-fieldset {
    height: 100%;
}

::ng-deep .p-fieldset-content {
    padding: 0px;
}



::ng-deep .p-inputgroup-addon {
    padding: 0;
    min-width: 15px;
}

:host ::ng-deep .p-fileupload { 
    background: red !important; 
    font-size: 20px; 
    font-weight: 600; 
} 

:host ::ng-deep .p-fileupload-buttonbar { 
    background: #0fb800e8 !important; 
    font-size: 20px; 
    font-weight: 600; 
} 

:host ::ng-deep .p-fileupload-content {
    background: yellow !important; 
}
