<div *ngIf="!isLoading; else loading">
    <form [formGroup]="myTravelForm">
        <div class="grid">
            <div class="col-9">
                <p-fieldset [style]="{'margin-bottom':'0.5rem'}" legend="Reisedaten">
                    <div class="grid">
                        <div class="col-4">
                            <div class="field">
                                <label>Datum</label>
                                <p-calendar formControlName="dateRange" selectionMode="range" [readonlyInput]="false" [firstDayOfWeek]=1
                                    dateFormat="dd.mm.yy" [stepMinute]=1 [showTime]="true" hourFormat="24"
                                    class="text-base text-900 flex surface-overlay surface-border"
                                    [style]="{'width':'100%', 'height': '2.3rem', 'font-family': 'Rajdhani'}" appendTo="body"></p-calendar>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="field">
                                <label>Kunde</label>
                                <p-dropdown formControlName="customer" [options]="customers" optionLabel="name"
                                    class="text-base text-900 flex surface-overlay surface-border"
                                    [style]="{'width':'100%', 'height': '2.3rem', 'font-family': 'Rajdhani'}"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="field">
                                <label>Zweck</label>
                                <p-dropdown formControlName="reason" [options]="reasons" optionLabel="name"
                                    class="text-base text-900 flex surface-overlay surface-border"
                                    [style]="{'width':'100%', 'height': '2.3rem', 'font-family': 'Rajdhani'}"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-6">
                            <div class="field">
                                <label>Verpflegung</label>
                                <div class="card flex gap-3">
                                    <div class="flex align-items-center">
                                        <p-checkbox class="mr-3" formControlName="breakfast" [binary]="true" inputId="breakfast"></p-checkbox>
                                        <label for="breakfast">Frühstück</label>
                                    </div>
                                    <div class="flex align-items-center">
                                        <p-checkbox class="mr-3" formControlName="launch" [binary]="true" inputId="launch"></p-checkbox>
                                        <label for="launch">Mittagsessen</label>
                                    </div>
                                    <div class="flex align-items-center">
                                        <p-checkbox class="mr-3" formControlName="dinner" [binary]="true" inputId="dinner"></p-checkbox>
                                        <label for="dinner">Abendessen</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field">
                                <label>Kommentar</label>
                                <textarea rows="3" cols="30" pInputTextarea formControlName="comment"
                                    class="text-base text-900 surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
                            </div>
                        </div>
                    </div>
                </p-fieldset>

            </div>
            <div class="col-3">
                <p-fieldset legend="Info">
                    <div class="grid">
                        <div class="col-6">Travel Id</div>
                        <div class="col-6">{{myTravel !== undefined ? myTravel.id : ''}}</div>
                    </div>
                    <div class="grid">
                        <div class="col-6">Status</div>
                        <div class="col">{{myTravel !== undefined ? myTravel.state : 'nicht gespeichert'}}</div>
                    </div>
                    <div class="grid">
                        <div class="col-6">Dauer</div>
                        <div class="col">{{duration}}</div>
                    </div>
                    <div class="grid">
                        <div class="col-6">Summe Pauschale</div>
                        <div class="col">{{sumRate | currency: 'EUR'}}</div>
                    </div>
                    <div class="grid">
                        <div class="col-6">Summe Ausgaben</div>
                        <div class="col">{{sumSpend | currency: 'EUR'}}</div>
                    </div>
                    <div class="grid">
                        <div class="col-6">Gesamt</div>
                        <div class="col">{{sumTotal | currency: 'EUR'}}</div>
                    </div>
                </p-fieldset>
            </div>
            <div class="col-12">
                <div class="grid">
                    <div class="col-6">
                        <p-fieldset legend="Ausgaben">
                            <div *ngIf="spendArray.length > 0" class="flex justify-content-center">
                                <p-button *ngIf="!isDisabled" class="add" icon="fa-solid fa-plus" (click)="addSpend()" [rounded]="true"
                                [text]="true" severity="success " label="weitere Ausgaben"></p-button>
                            </div>
                            <div formArrayName="spends" class="flex flex-column">
                                <div *ngFor="let item of spendArray.controls; let i=index" [formGroupName]="i">
                                    <div class="grid">
                                        <div class="col-3">
                                            <div class="field">
                                                <label *ngIf="i == 0">Datum</label>
                                                <p-calendar formControlName="date" dateFormat="dd.mm.yy" [maxDate]="maxDate" [minDate]="minDate"
                                                    class="text-base text-900 flex surface-overlay surface-border"
                                                    [style]="{'width':'100%', 'height': '2.3rem', 'font-family': 'Rajdhani'}"></p-calendar>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="field">
                                                <label *ngIf="i == 0">Typ</label>
                                                <p-dropdown formControlName="type" [options]="spendTyps" optionLabel="name"
                                                    class="text-base text-900 flex surface-overlay surface-border"
                                                    [style]="{'width':'100%', 'height': '2.3rem', 'font-family': 'Rajdhani'}"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="field">
                                                <label *ngIf="i == 0">Betrag</label>
                                                <input type="number" pInputText formControlName="value"
                                                    class="text-base text-900 surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="flex justify-content-end" [ngStyle]="{'margin-top':i==0 ? '1.75rem' : ''}">
                                                <p-button *ngIf="!isDisabled" class="delete" icon="pi pi-times" (click)="deleteSpend(i)" [rounded]="true"
                                                    [text]="true" severity="danger "></p-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="spendArray.length == 0" class="field">
                                <div
                                    class="flex justify-content-center text-base text-900 surface-overlay surface-border appearance-none outline-none focus:border-primary w-full">
                                    <p-button *ngIf="!isDisabled" icon="fa-solid fa-plus" label="Ausgaben erfassen" (click)="addSpend()"
                                        [rounded]="true" [text]="true" severity="success "></p-button>
                                </div>
                            </div>
                        </p-fieldset>
                    </div>
                    <div class="col-6">
                        <p-fieldset legend="Belege">
                            <div>
                                <!--p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" (uploadHandler)="onUpload($event)" [multiple]="true" accept="image/*" [maxFileSize]="1000000">
                                    <ng-template pTemplate="content">
                                        <ul *ngIf="uploadedFiles.length">
                                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                                        </ul>
                                    </ng-template>
                                </p-fileUpload-->
                                <p-fileUpload mode="basic" name="demo[]"
                                    url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"
                                    [maxFileSize]="1000000" (onUpload)="onBasicUploadAuto($event)" [auto]="true"
                                    chooseLabel="Browse"></p-fileUpload>
                                <div *ngIf="uploadedFiles.length">
                                    <div *ngFor="let file of uploadedFiles; let i=index">
                                            <div class="flex justify-content-between h-2rem w-full">
                                                <div>
                                                    {{ file.name }}
                                                </div>
                                                <div>
                                                    {{ file.size }} bytes
                                                </div>
                                                <div>
                                                    <div class="flex field p-2 align-items-center h-full">
                                                        <p-button class="delete" icon="pi pi-times" (click)="deleteFile(i)"
                                                            [rounded]="true" [text]="true" severity="danger "></p-button>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="filesFromDbList.length">
                                    <div *ngFor="let file of filesFromDbList; let i=index">
                                            <div class="flex justify-content-between h-2rem w-full">
                                                <div>
                                                    <a href= "{{file.url}}" target="_blank">{{ file.name }}</a>
                                                </div>
                                                <div>
                                                    <div class="flex field p-2 align-items-center h-full">
                                                        <p-button *ngIf="!isDisabled" class="delete" icon="pi pi-times" (click)="deleteFile(i)"
                                                            [rounded]="true" [text]="true" severity="danger "></p-button>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex">
            <button pButton class="btn-cic-submit" label="Einreichen" icon="fa-regular fa-paper-plane" (click)="submit('send')" [disabled]="!myTravelForm.valid"></button>
            <button pButton class="btn-cic-submit" label="Speichern" icon="pi pi-check" (click)="submit('save')" [disabled]="!myTravelForm.valid"></button>
            <button pButton class="btn-cic-clear" label="Clear" icon="fa-solid fa-text-slash" (click)="clearForm()"></button>
        </div>
    </form>
</div>
<ng-template #loading>
    <p-progressSpinner></p-progressSpinner>
</ng-template>
<p-toast></p-toast>
