::ng-deep .delete button .p-button-icon { 
    color: var(--cic-red); 
}

::ng-deep .add button .p-button-icon { 
    color: green; 
}

::ng-deep .p-fieldset {
    height: 100%;
}

::ng-deep .p-inputgroup-addon {
    padding: 0;
    min-width: 15px;
}