<div class="container">
    <div class="headers">
        Reisekosten
    </div>
    <div class="bodies">
        <div class="px-4 md:px-6 lg:px-8">
            <p-tabView>
                <p-tabPanel header="Reisekosten">
                    <div class="surface-card shadow-2 p-3 border-round">
                        <app-travel-form></app-travel-form>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Alle Reisen">
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div class="surface-card shadow-2 p-3 border-round">
                            <app-travel-list [data]="myTravelList"></app-travel-list>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
<p-toast></p-toast>